* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    background: #78bbcb;
}

header{
    display: flex;
}

h1{
    font-size: 80px;
    justify-content: center;
    text-align: center;
    font-family: 'Homer Simpson Revised', sans-serif;
    margin-top: 50px;
    animation: efectoh1 2s 3 alternate;
}

section{
    display: flex;
    flex-direction: row;
div {
    &:nth-of-type(1){
        width: 170px;
        height: 600px;
        justify-content: space-around;
    }

    &:nth-of-type(2){
        width: 170px;
        height: 600px;
    }

    &:nth-of-type(3){
        width: 220px;
        height: 600px;
        justify-content: center;
        align-items: center;
        animation: cristo 2s ease-in-out 5 alternate;
    }
    }

    &:nth-of-type(4){
        width: 170px;
        height: 600px;
    }

    &:nth-of-type(5){
        justify-content: space-around;
    }
    }

  @keyframes efectoh1 {
    from {
      margin-left:100%;
      width:300%
    }

    to {
     margin-left:0%;
     width:100%;
   }
  }

  @keyframes cristo {
    from{
        margin-top: 100%;
    }

    to{
        margin-bottom: 0;
    }
}

